@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #323c2b;
  background: #f2f5f0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-j-header.is-open .e-j-header-background {
  left: 0;
}
.e-j-header-button-wrapper {
  margin-left: auto;
}
.e-j-header-icon {
  display: none;
}

.e-j-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-j-navigation-list.is-open {
  right: 0;
}

.e-j-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #dce3d7;
}

.e-j-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #dce3d7;
}
.e-j-header.is-open .e-j-header-background {
  left: 0;
}
.e-j-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-j-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 16px;
  position: relative;
}

.e-j-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 420px;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;
  gap: 12px;
  background: #dce3d7;
}

.e-j-navigation-list.is-open {
  right: 0;
}

.e-j-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #323c2b;
}

.e-j-navigation-link:hover,
.e-j-navigatioт-link:focus {
  font-weight: 700;
}

.e-j-header.is-open {
  background-color: transparent;
}

.e-j-navigation-img {
  display: none;
}
.e-j-header-icon-menu {
  display: block;
}

.e-j-header-icon-button.is-open .e-j-header-icon-menu {
  display: none;
}

.e-j-header-icon-button.is-open .e-j-header-icon-close {
  display: block;
}

@media screen and (min-width: 1206px) {
  .e-j-navigation-img {
    display: flex;
    height: 56px;
    margin-right: 20px;
  }
  .e-j-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-j-header {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .e-j-header-background {
  }
  .e-j-header-icon-button {
    display: none;
  }
  .e-j-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-j-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 18px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-j-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .e-j-navigation-item-desk {
    display: none;
  }
}
.e-j-main {
  width: 375px;
  margin: auto;
  background-image: url("/img/main\ mobile\ \(1\).png");
}

.e-j-home-container {
  height: 740px;
  padding: 108px 16px 0px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40074.png");
}

.e-j-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-j-home-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;

  padding: 0 15px 0;
}

.e-j-home-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  padding: 24px 0 0px;
}

@media screen and (min-width: 1206px) {
  .e-j-main {
    width: 1440px;
    background-image: url("/img/main\ web.png");
  }

  .e-j-home-container {
    height: 758px;
    padding: 224px 72px 0px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 40073.png");
  }

  .e-j-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 856px;
  }

  .e-j-home-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 20px 0 0;
  }

  .e-j-home-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 746px;
    padding: 40px 0px 0 0;
    text-align: left;
  }
}
.e-j-about {
  margin: auto;
  width: 375px;
  padding: 88px 16px 0;
}
.e-j-about-container {
  height: 647px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40049.png");
  margin: auto;
}
.e-j-about-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.e-j-about-title-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #889f7c;
  padding-top: 40px;
}
.e-j-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;

  padding-top: 251px;
}

@media screen and (min-width: 1206px) {
  .e-j-about {
    margin: auto;
    width: 1440px;
    padding: 144px 72px 0;
  }
  .e-j-about-container {
    height: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/About\ the\ Game\ section.png");
    margin: auto;
  }
  .e-j-about-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-j-about-title-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 56px;
  }
  .e-j-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
    padding-top: 32px;

    width: 636px;
  }
}
.e-j-why {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}

.e-j-why-container {
  margin: auto;
  padding: 0;
}
.e-j-why-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}
.e-j-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.e-j-why-text-two {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #765b01;
}
@media screen and (min-width: 1206px) {
  .e-j-why {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }

  .e-j-why-container {
    margin: auto;
    padding: 0;
  }
  .e-j-why-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 32px;
  }
  .e-j-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 745px;
  }
  .e-j-why-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.e-j-faq {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.e-j-faq-container {
  margin: auto;
}
.e-j-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-j-faq-item {
  border-radius: 16px;
  padding: 16px;
  background: #ecf0e7;
  box-shadow: 0px 0px 10px 0px #45553633;
}

.e-j-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  gap: 20px;
}

.e-j-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.e-j-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.e-j-toggle-button img {
  transition: transform 0.3s ease;
  width: 46px;
  height: 23px;
}
.e-j-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.e-j-faq-answer.open {
  max-height: 1000px;
  opacity: 1;
  margin-top: 16px;
}

.e-j-toggle-button img {
  transition: transform 0.3s ease;
}

.e-j-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .e-j-faq {
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-faq-container {
    margin: auto;
  }
  .e-j-faq-list {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .e-j-faq-item {
    border-radius: 24px;
    padding: 24px;
    background: #ecf0e7;
    box-shadow: 0px 0px 10px 0px #45553633;
  }

  .e-j-faq-question {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .e-j-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.e-j-uniqueness {
  margin: auto;

  padding: 80px 0 0;
}
.e-j-uniqueness-container {
  padding: 0 16px;
  margin: auto;
  background-repeat: no-repeat;
  width: 375px;
  height: 505px;
  background-image: url("/img/Frame\ 40073\ \(1\).png");
}
.e-j-uniqueness-title {
  padding: 0 20px;
  padding-top: 4px;
}
.e-j-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 32px;
}

@media screen and (min-width: 1206px) {
  .e-j-uniqueness {
    margin: auto;
    width: 1440px;
    padding: 116px 0px 0;
  }
  .e-j-uniqueness-container {
    margin: auto;
    height: 567px;
    width: 1440px;
    padding: 0 80px;
    background-repeat: no-repeat;

    background-image: url("/img/Frame\ 40074\ \(1\).png");
  }

  .e-j-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 32px;

    width: 636px;
    margin: auto;
  }
}
.e-j-how {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.e-j-how-container {
  margin: auto;
  height: 676px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40051.png");
}
.e-j-how-text {
  padding-top: 280px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1206px) {
  .e-j-how {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-how-container {
    margin: auto;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/How\ It\ Works\ section.png");
  }
  .e-j-how-text {
    padding-top: 32px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 730px;
  }
}

.e-j-characters {
  margin: auto;
  width: 375px;
  padding: 80px 17px 0;
}
.e-j-characters-container {
  margin: auto;
  height: 724px;
  background-image: url("/img/Frame\ 40057.png");
}
.e-j-characters-text {
  padding-top: 280px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1206px) {
  .e-j-characters {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-characters-container {
    margin: auto;
    height: 495px;
    background-image: url("/img/Frame\ 40025.png");
  }
  .e-j-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;

    width: 746px;
    padding-top: 32px;
  }
}

.e-j-reviews {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.e-j-reviews-container {
  margin: auto;
}
.e-j-reviews-list {
  padding: 30px 0 32px;
}
.e-j-reviews-lists {
  display: none;
}
.e-j-reviews-item {
  transition: all 0.3s ease-in-out;
  margin: 10px;
  width: 343px;
  height: 186px;
  padding: 16px;
  background: #eaede7;
  box-shadow: 0px 0px 10px 0px #45553633;

  border-radius: 16px;
}
.e-j-reviews-item:hover {
  background: #f5f6f3;
  box-shadow: 0px 0px 10px 0px #45553666;
}
.e-j-reviews-item-two {
  display: flex;
  align-items: center;
  gap: 12px;
}
.e-j-reviews-img {
  width: 32px;
  height: 32px;
}
.e-j-reviews-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
}

.e-j-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -4%;

  padding-top: 12px;
}
.slick-dots {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/reviews/Ellipse\ 3.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/reviews/Ellipse\ 1.png") no-repeat center/cover;
}

@media screen and (min-width: 1206px) {
  .e-j-reviews {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-reviews-container {
    margin: auto;
  }

  .e-j-reviews-list {
    display: none;
  }
  .e-j-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 32px;
    gap: 24px;
  }
  .e-j-reviews-item {
    margin: 0px;
    width: 416px;
    height: 248px;
    gap: 16px;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 0px #45553633;
  }

  .e-j-reviews-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .e-j-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -4%;

    padding-top: 16px;
  }
}
.e-j-start {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.e-j-start-container {
  margin: auto;
}

.e-j-start-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.e-j-start-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;

  color: #323c2b;
  text-decoration: none;
  padding-top: 8px;
}
@media screen and (min-width: 1206px) {
  .e-j-start {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 120px;
  }
  .e-j-start-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;

    width: 730px;
  }
  .e-j-start-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 12px;
  }
}

.e-j-gallery {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.e-j-gallery-container {
  margin: auto;
}
.e-j-gallery-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
.e-j-gallery-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.e-j-gallery-list {
  width: 343px;
}

.e-j-gallery-item {
  width: 343px;
  height: 211px;

  border-radius: 24px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.e-j-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.e-j-gallery-button-container {
  display: none;
}

@media screen and (min-width: 1206px) {
  .e-j-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
  }

  .e-j-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
    z-index: 1;
    margin-top: -480px;
    margin-right: -40px;
  }
  .e-j-gallery-button-icon {
    width: 49px;
    height: 98px;
    border-radius: 100px;
  }
  .e-j-gallery-button:hover {
    scale: 120%;
  }
  .e-j-gallery {
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-gallery-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 32px;
  }
  .e-j-gallery-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 636px;
  }
  .e-j-gallery-list {
    width: 636px;
  }
  .e-j-gallery-item {
    width: 636px;
    height: 392px;
    border-radius: 24px;
  }
}

.e-j-features {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.e-j-features-container {
  margin: auto;
}
.e-j-features-text {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

.e-j-features-text-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

@media screen and (min-width: 1206px) {
  .e-j-features {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }
  .e-j-features-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 746px;
  }
}

.e-j-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.e-j-policy-terms-container h1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-bottom: 20px;
}
.e-j-policy-terms-container h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  margin-top: 20px;
  margin-bottom: 20px;
}
.e-j-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-j-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1206px) {
  .e-j-policy-terms-container {
    padding: 192px 72px 60px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .e-j-policy-terms-container h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-j-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.e-j-footer-container {
  background: #dce3d7;

  width: 375px;
  padding: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.e-j-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: inherit;
  text-decoration-skip-ink: auto;
}
.e-j-footer-text {
  color: inherit;
}
.e-j-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 40px;
}

@media screen and (min-width: 1206px) {
  .e-j-footer-container {
    background: #dce3d7;

    width: 1440px;
    padding: 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .e-j-footer-wrapper {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }
  .e-j-footer-text {
    color: inherit;
  }
  .e-j-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 0 40px;
  }
}

.e-j-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  background: #e2e8df;

  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-radius: 24px;

  z-index: 1000;
  display: none;
}
.e-j-cookie-popup-container {
  display: flex;
  gap: 8px;
}

.e-j-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-j-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.e-j-cookie-button {
  border: none;
  background-color: transparent;
  width: 128px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 14px;
  border-width: 1px;
  border: 1px solid #efca24;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

#accept-cookies {
  border: none;
  background: #efca24;
  color: #323c2b;
}

.e-j-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1206px) {
  .e-j-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
  .e-j-cookie-popup-container {
    display: flex;
    gap: 500px;
  }
  .e-j-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .e-j-cookie-button {
    width: 176px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border-width: 1px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .e-j-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
